<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <appSettings>
    <add key="FixedAssetsSignedApproverEmp" value="06035478" />
    
    <add key="SodexoWebApiUrl" value="https://buysmartwebapi.sodexo-cn.com" />
    <add key="ReferenceSupplierUrl" value="/api/services/app/suppliers/GetSodexoReferenceSupplierList" />
    <add key="CustomerProcurementSignedApproverEmp" value="20001004419" />
    <add key="SegmentDirector1" value="Allen.Kooi" />
	 <add key="NdEdu" value="ND01_HK" />
    <add key="NdEduName" value="Schools" />
  </appSettings>

</configuration>
