################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/bin
/Common/Assets/js/wangEditor-master/release
/log
/obj/Debug
/Portal/Ultimus.UWF.Home.V3/.vs/Ultimus.UWF.Home.V3/v15
/Portal/Ultimus.UWF.Home.V3/Bin
/Portal/Ultimus.UWF.Home.V3/obj/Debug
/Portal/Ultimus.UWF.Home.V3/obj/Release
/Portal/Ultimus.UWF.Home.V3/packages/DotNetCasClient.1.1.0
/Solution/A03099/obj
/Solution/A14002/obj
/Solution/packages/DotNetCasClient.1.1.0
/Solution/PR.PRProcess.CPR_FOOD/.vs/PR.PRProcess.CPR_FOOD/v15
/obj/Release
/Portal/Ultimus.UWF.Home.V3
/Solution/.vs/config
/Solution/.vs/Solution/v15
/Solution/UWF.Process.TestProcess/obj/Debug
/Solution/UWF.Process.TestProcess/obj/Release
/Solution/UWF.Process.PR_QUOTATION/obj/Debug
/Solution/UWF.Process.PR_QUOTATION/obj/Release
/Solution/UWF.Process.PR_QUOTATION/Form/obj/Release
/Solution/UWF.Process.PR_QUOTATION/Form/obj/Debug
/Solution/UWF.Process.TestProcess/.vs
/Solution/PR.PRProcess.CPR_FOOD/PR.PRProcess.CPR_FOOD/.vs/PR.PRProcess.CPR_FOOD/v15
/Solution/PR.PRProcess.CPR_NONFOOD/.vs/PR.PRProcess.CPR_NONFOOD/v15
/Solution/PR.PRProcess.CPR_SERVICE/.vs/PR.PRProcess.CPR_SERVICE/v15
/Solution/UWF.Process.MCPR_SERVICE/.vs/UWF.Process.MCPR_SERVICE/v15
/Solution/UWF.Process.MPR_SERVICE/.vs/UWF.Process.MPR_SERVICE/v15/Server/sqlite3
/Solution/UWF.Process.MPR_SERVICE/.vs/config
/Solution/UWF.Process.MPR_SERVICE/obj/Debug
*.user
