<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
		<!--文件配置存放ConnectionString,castle,ibatis及log4net-->
		<add key="FileConfig" value="C:\UltimusConfiguration\UWF-Sodexo.config" />
		<!--数据库配置存放appSettings-->
		<add key="DatabaseConfig" value="BizDB" />
		<add key ="SuperUser" value="admin" />
		<!--EIK 外网访问路径 http://szms03.cbfap.com:8087/UltimusService.asmx -->
		<add key="webservice.url" value="http://localhost:8087/UltimusService.asmx" />
		<add key="PathPdf" value="D:\Project\sodexo\trunk\WebPortal\FilePDF\" />
		<!--管理员网站地址-->
    	        <add key="AdminSite" value="https://testingautosmart.sodexo-cn.com:8089/" />
    	        <add key="SubmitTaskType" value="taskqueue" />

		<!--网站的物理路径。用于获取流程邮件模板。-->
		<add key="RootPhysicalPath" value="D:\Project\sodexo\trunk\WebPortal"/>
                 <add key="FederationHost" value="gatespreprod.sodexonet.com" />
	</appSettings>
	<system.web>
		<machineKey validation="3DES" validationKey="F369AA7A3143C185AB1089616A8B4D81FD55DD7A69EEAA3B32A6AE813ECEECD28DEA66A23BEE42193729BD48595EBAFE2C2E765BE77E006330BC3B1392D7C73F" />

		<compilation debug="true" targetFramework="4.0">
			<assemblies>
			</assemblies>
		</compilation>
		<pages maintainScrollPositionOnPostBack="true" enableEventValidation="false" enableViewStateMac="true" viewStateEncryptionMode="Always" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
			<controls>
				<add tagPrefix="ult" namespace="Ultimus.UWF.Form.WebControls" assembly="Ultimus.UWF.Form" />
			</controls>
		</pages>
		
		<httpRuntime maxRequestLength="40960" requestValidationMode="2.0" />
		<globalization />
		<!--sessionState mode="StateServer" timeout="600" /-->

		<authorization>
			<allow users="*" />
		</authorization>

		<customErrors mode="Off" defaultRedirect="error.aspx">
		</customErrors>

	</system.web>

	<location path="Portal/Ultimus.UWF.Home.V3/Login.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="Portal/Ultimus.UWF.Home.V3/LoginHandler.ashx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="Portal/Ultimus.UWF.Home.V3/SSO">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="Portal/Ultimus.UWF.Home.V3/SSO.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<system.net>
		<settings>
			<httpWebRequest useUnsafeHeaderParsing="true" />
		</settings>
	</system.net>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
			<remove fileExtension=".svg" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
		</staticContent>
		<directoryBrowse enabled="false" />
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="100000000" />
			</requestFiltering>
		</security>

		<httpProtocol>
			<customHeaders>
				<add name="Content-Security-Policy" value="object-src 'self';" />
				<add name="X-Content-Type-Options" value="nosniff" />
				<add name="X-XSS-Protection" value="1" />
				<add name="X-Frame-Options" value="SAMEORIGIN" />
			</customHeaders>
		</httpProtocol>

		<httpErrors errorMode="Custom">
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" prefixLanguageFilePath="" path="/Error.aspx?code=404" responseMode="ExecuteURL" />
		</httpErrors>
		<defaultDocument>
			<files>
				<remove value="Default.htm" />
				<remove value="Default.asp" />
				<remove value="index.htm" />
				<remove value="index.html" />
				<remove value="iisstart.htm" />
				<remove value="default.aspx" />
				<add value="Default.aspx" />
				<add value="index.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="AtdLeaveServiceHttpBinding6" />
				<binding name="AtdOverTimeServiceHttpBinding5" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://103.13.247.5:8092/hrp/services/AtdLeaveService"
				binding="basicHttpBinding" bindingConfiguration="AtdLeaveServiceHttpBinding6"
				contract="LeaveInfo.AtdLeaveServicePortType" name="AtdLeaveServiceHttpPort" />
			<!--<endpoint address="http://10.2.100.10:8092/hrp/services/AtdLeaveService"
                binding="basicHttpBinding" bindingConfiguration="AtdLeaveServiceHttpBinding6"
                contract="LeaveInfo.AtdLeaveServicePortType" name="AtdLeaveServiceHttpPort" />-->
			<endpoint address="http://103.13.247.5:8092/hrp/services/AtdOverTimeService"
					  binding="basicHttpBinding" bindingConfiguration="AtdOverTimeServiceHttpBinding5"
					  contract="OverTimeInfo.AtdOverTimeServicePortType" name="AtdOverTimeServiceHttpPort" />
			<!--<endpoint address="http://10.2.100.10:8092/hrp/services/AtdOverTimeService"
                binding="basicHttpBinding" bindingConfiguration="AtdOverTimeServiceHttpBinding5"
                contract="OverTimeInfo.AtdOverTimeServicePortType" name="AtdOverTimeServiceHttpPort" />-->
		</client>
	</system.serviceModel>
</configuration>