<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="System.IdentityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
  </configSections>
  <appSettings>
    <!--文件配置存放ConnectionString,castle,ibatis及log4net-->
    <add key="FileConfig" value="C:\UltimusConfiguration\UWF-Sodexo.config" />
    <!--数据库配置存放appSettings-->
    <add key="DatabaseConfig" value="BizDB" />
    <add key ="SuperUser" value="admin" />

    <add key ="taskUser" value="CustomOC/Kingson.WANG" />
    <add key="SyncSodexoHKExcelFilePath" value="D:\Project\sodexo\trunk\WebPortal\UploadFile\" />
    <add key="webservice.url" value="http://10.137.45.216:8087/UltimusService.asmx" />
    <add key="WEB_API_URL" value="https://testingautosmartwebapi.sodexo-cn.com" />
    <!--http://testingsmartwebapi.sodexo-cn.com-->
    <add key="BS_WEB_API_URL" value="https://testingsmartwebapi.sodexo-cn.com" />
    <add key="SendEmail.RootPath" value="https://testingautosmart.sodexo-cn.com" />
    <!--管理员网站地址-->
    <add key="AdminSite" value="https://testingautosmartadmin.sodexo-cn.com/" />
    <add key="userName" value="buySmart" />
    <add key="Pwd" value="buySmart123" />
    <add key="method" value="AdLogin" />

    <!--网站的物理路径。用于获取流程邮件模板。-->
    <add key="RootPhysicalPath" value="D:\Project\sodexo\trunk\WebPortal"/>

    <add key="DefaultDomain" value="CustomOC" />
    <add key="FederationMetadataLocation" value="https://gatespreprod.sodexonet.com/federationmetadata/2007-06/federationmetadata.xml" />
    <add key="FederationSignOut" value="https://gatespreprod.sodexonet.com/adfs/ls/?wa=wsignout1.0&amp;wreply=https%3A%2F%2Ftestingautosmart.sodexo-cn.com%2FPortal%2FUltimus.UWF.Home.V3%2Flogin.aspx" />
    <add key="FederationHost" value="gatespreprod.sodexonet.com" />
    
   <add key="AdLogin" value="1" />
    <add key="LDAP" value="LDAP://CECNSH-SAS18.ce.sdxcorp.net:636/OU=China,OU=FMS,DC=ce,DC=sdxcorp,DC=net"/>
    <add key="ADServer" value="CECNSH-SAS18.ce.sdxcorp.net:636"/>
    <add key="LoginName" value="CE-SDXCORP\Jacson.zhang.ext" />
    <add key="Password" value="prd=12345"/>

    <!--Foundation Server WCF-->
    <add key="HostAddress" value="net.tcp://10.137.45.205:11920" />
    <add key="HttpHostAddress" value="" />
    <add key="IsBasicHttpBinding" value="" />
    <add key="MaxMessage" value="6553600" />
    <add key="SendOrRevTimeOut" value="60" />
    <add key="MaxConnections" value="" />
  </appSettings>
  <!--FederationMetadata基本设置-->
  <location>
    <system.web>
      <machineKey validation="3DES" validationKey="F369AA7A3143C185AB1089616A8B4D81FD55DD7A69EEAA3B32A6AE813ECEECD28DEA66A23BEE42193729BD48595EBAFE2C2E765BE77E006330BC3B1392D7C73F" />
    </system.web>
  </location>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <pages maintainScrollPositionOnPostBack="true" enableEventValidation="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
      <controls>
        <add tagPrefix="ult" namespace="Ultimus.UWF.Form.WebControls" assembly="Ultimus.UWF.Form" />
      </controls>
    </pages>

    <httpRuntime maxRequestLength="40960" requestValidationMode="2.0" />
    <globalization />
    <!--sessionState mode="StateServer" timeout="600" /-->

    <!--<authorization>
      <deny users="*" />
    </authorization>-->


    <customErrors mode="Off" defaultRedirect="error.aspx">
    </customErrors>
    <httpModules>
      <add name="ClaimsPrincipalHttpModule" type="Microsoft.IdentityModel.Web.ClaimsPrincipalHttpModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="WSFederationAuthenticationModule" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="SessionAuthenticationModule" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>

  </system.web>



  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
    <directoryBrowse enabled="false" />

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="100000000" />
      </requestFiltering>
    </security>

    <httpProtocol>
      <customHeaders>
        <add name="Content-Security-Policy" value="object-src 'self';" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-XSS-Protection" value="1" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>

    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/Error.aspx?code=404" responseMode="ExecuteURL" />
    </httpErrors>

    <defaultDocument>
      <files>
        <remove value="Default.htm" />
        <remove value="Default.asp" />
        <remove value="index.htm" />
        <remove value="index.html" />
        <remove value="iisstart.htm" />
        <remove value="default.aspx" />
        <add value="Default.aspx" />
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
    <modules>

      <remove name="ServiceModel" />
      <add name="ClaimsPrincipalHttpModule" type="Microsoft.IdentityModel.Web.ClaimsPrincipalHttpModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />
      <add name="WSFederationAuthenticationModule" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />
      <add name="SessionAuthenticationModule" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />

    </modules>
  </system.webServer>
  <!--<microsoft.identityModel>
    <service>
      <applicationService>
        <claimTypeRequired>
          <claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn" optional="true" />
          <claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" optional="true" />
          <claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" optional="true" />
        </claimTypeRequired>
      </applicationService>
      <audienceUris>
        <add value="https://testingautosmart.sodexo-cn.com/" />
      </audienceUris>
      <federatedAuthentication>
        <wsFederation passiveRedirectEnabled="true" issuer="https://gatespreprod.sodexonet.com/adfs/ls/" realm="https://testingautosmart.sodexo-cn.com/" requireHttps="true" homeRealm="http://gatespreprod.sodexonet.com/adfs/services/trust" />
        <cookieHandler requireSsl="true" />
      </federatedAuthentication>
      <issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <trustedIssuers>
          <add thumbprint="cd7faef520d870494cd2f8c9c11bfc4b3c104f6b" name="http://gatespreprod.sodexonet.com/adfs/services/trust" />
        </trustedIssuers>
      </issuerNameRegistry>
      <securityTokenHandlers>
      </securityTokenHandlers>
    </service>
  </microsoft.identityModel>-->
 
</configuration>