<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="System.IdentityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
  </configSections>
  <appSettings>
    <!--文件配置存放ConnectionString,castle,ibatis及log4net-->
    <add key="FileConfig" value="C:\UltimusConfiguration\UWF-Sodexo.config"/>
    <!--数据库配置存放appSettings-->
    <add key="DatabaseConfig" value="BizDB"/>
    <add key="SuperUser" value="admin"/>
    <add key="SyncSodexoHKExcelFilePath" value="D:\Project\sodexo\trunk\WebPortal\UploadFile\"/>
    <add key="webservice.url" value="http://localhost:8087/UltimusService.asmx"/>
    <add key="WEB_API_URL" value="https://testingautosmartwebapi.sodexo-cn.com"/>
    <!--管理员网站地址-->
    <add key="AdminSite" value="https://testingautosmartadmin.sodexo-cn.com/"/>
    <add key="SubmitTaskType" value="taskqueue"/>
    <add key="RootPhysicalPath" value="D:\Project\sodexo\trunk\WebPortal"/>
    <!--网站的物理路径。用于获取流程邮件模板。-->
    <add key="RootPhysicalPath" value="D:\Project\sodexo\trunk\WebPortal"/>
    <!--<add key="BS_WEB_API_URL" value="http://testingsmartwebapi.sodexo-cn.com/"/>-->
    <add key="BS_WEB_API_URL" value="http://stagingbuysmartwebapi.sodexo-cn.com/"/>
    <add key="WEB_API_URL" value="https://testingautosmartwebapi.sodexo-cn.com"/>
    <add key="SendEmail.RootPath" value="https://testingautosmart.sodexo-cn.com"/>
    <add key="DefaultDomain" value="CustomOC"/>
    <add key="FederationMetadataLocation" value="https://login.microsoftonline.com/a289d6c2-3b1f-4bc4-8fa0-6866ff300052/federationmetadata/2007-06/federationmetadata.xml?appid=889b37f0-b9d6-49be-9aef-1f5f219f7959"/>
    <add key="FederationSignOut" value="https://login.microsoftonline.com/a289d6c2-3b1f-4bc4-8fa0-6866ff300052/wsfed?wa=wsignout1.0"/>
    <add key="FederationHost" value="login.microsoftonline.com"/>

    <add key="AdLogin" value="0"/>
    <add key="EnableEmail" value="1"/>
    <add key="Language" value="ZH-CN"/>
    <add key="SystemConnection" value="https://testingautosmart.sodexo-cn.com/"/>
    <!--<add key="EmailApproveOpinion" value="0"/>-->
    <!--AD登录时 token配置-->
    <add key="userName" value="buySmart" />
    <add key="Pwd" value="buySmart123" />
    <add key="method" value="AdLogin" />


  </appSettings>
  <!--FederationMetadata基本设置-->
  <location path="FederationMetadata">
    <system.web>
      <machineKey validation="3DES" validationKey="F369AA7A3143C185AB1089616A8B4D81FD55DD7A69EEAA3B32A6AE813ECEECD28DEA66A23BEE42193729BD48595EBAFE2C2E765BE77E006330BC3B1392D7C73F"/>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <pages maintainScrollPositionOnPostBack="true" enableEventValidation="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
      <controls>
        <add tagPrefix="ult" namespace="Ultimus.UWF.Form.WebControls" assembly="Ultimus.UWF.Form"/>
      </controls>
    </pages>
    <httpRuntime maxRequestLength="40960" requestValidationMode="2.0"/>
    <globalization/>
    <!--sessionState mode="StateServer" timeout="600" /-->
    <authorization>
      <deny users="?"/>
    </authorization>
    <customErrors mode="Off" defaultRedirect="error.aspx"/>
    <httpModules>
      <add name="ClaimsPrincipalHttpModule" type="Microsoft.IdentityModel.Web.ClaimsPrincipalHttpModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="WSFederationAuthenticationModule" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="SessionAuthenticationModule" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </httpModules>
  </system.web>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <staticContent>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff"/>
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
    </staticContent>
    <directoryBrowse enabled="false"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="100000000"/>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="Content-Security-Policy" value="object-src 'self';"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="X-XSS-Protection" value="1"/>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
      </customHeaders>
    </httpProtocol>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" prefixLanguageFilePath="" path="/Error.aspx?code=404" responseMode="ExecuteURL"/>
    </httpErrors>
    <defaultDocument>
      <files>
        <remove value="Default.htm"/>
        <remove value="Default.asp"/>
        <remove value="index.htm"/>
        <remove value="index.html"/>
        <remove value="iisstart.htm"/>
        <remove value="default.aspx"/>
        <add value="Default.aspx"/>
        <add value="Index.aspx"/>
      </files>
    </defaultDocument>
    <modules>
      <remove name="ServiceModel"/>
      <add name="ClaimsPrincipalHttpModule" type="Microsoft.IdentityModel.Web.ClaimsPrincipalHttpModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler"/>
      <add name="WSFederationAuthenticationModule" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler"/>
      <add name="SessionAuthenticationModule" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler"/>
    </modules>
  </system.webServer>

  <microsoft.identityModel>
    <service>
      <applicationService>
        <claimTypeRequired>
          <claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" optional="true"/>
          <claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" optional="true"/>
        </claimTypeRequired>
      </applicationService>
      <audienceUris>
        <add value="https://testingautosmart.sodexo-cn.com"/>
      </audienceUris>
      <federatedAuthentication>
        <wsFederation passiveRedirectEnabled="true" issuer="https://login.microsoftonline.com/a289d6c2-3b1f-4bc4-8fa0-6866ff300052/wsfed" realm="https://testingautosmart.sodexo-cn.com" requireHttps="true" reply="https://testingautosmart.sodexo-cn.com/Portal/Ultimus.UWF.Home.V3/Default.aspx"/>
        <cookieHandler requireSsl="true"/>
      </federatedAuthentication>
      <issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <trustedIssuers>
          <add thumbprint="9ad7a646f7279161f814cf245876828eef5e2c41" name="https://sts.windows.net/a289d6c2-3b1f-4bc4-8fa0-6866ff300052/" />
        </trustedIssuers>
      </issuerNameRegistry>
    </service>
  </microsoft.identityModel>

  <location path="Portal/Ultimus.UWF.Home.V3/Workflow/EmailSendForm.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Portal/Ultimus.UWF.Home.V3/JdOrderDraft.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Portal/Ultimus.UWF.Home.V3/Default.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Solution/PR.PRProcess.CPR_FOOD/Form/Approval.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Solution/UWF.Process.PO_SUPPLIER_SUMMARY/FormV1/Approval.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Solution/UWF.Process.CAPEX_NONFOOD/FormV2/Approval.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
