<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="BizDB" connectionString="Data Source=10.137.45.207;Initial Catalog=SodexoBiz;User ID=usr_ultimus;Password=Sw/u56Y!;" />
    <add name="ArcDB" connectionString="Data Source=10.137.45.207;Initial Catalog=UltimusServer;User ID=usr_ultimus;Password=Sw/u56Y!;" />
  </connectionStrings>
  <appSettings>
    <add key="FixedAssetsSignedApproverEmp" value="20080633545" />
    <add key="BPMWebApiUrl" value="https://testingautosmartwebapi.sodexo-cn.com/api/bpmCatalog/CataLogPushApprovalResult" />
    <!--<add key="SodexoWebApiUrl" value="https://buysmartwebapi.sodexo-cn.com" />-->
    <add key="ReferenceSupplierUrl" value="/api/services/app/suppliers/GetSodexoReferenceSupplierList" />
    <add key="CustomerProcurementSignedApproverEmp" value="20001004419" />
    <add key="SegmentDirector1" value="Allen.Kooi" />
  </appSettings>

</configuration>
