<?xml version="1.0"?>
<configuration>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8.1"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings>
    <add key="FixedAssetsSignedApproverEmp" value="20060607346"/>
    <add key="SodexoWebApiUrl" value="https://buysmartwebapi.sodexo-cn.com"/>
    <add key="ReferenceSupplierUrl" value="/api/services/app/suppliers/GetSodexoReferenceSupplierList"/>
    <add key="CustomerProcurementSignedApproverEmp" value="20001004419"/>
    <add key="SegmentDirector1" value="Allen.Kooi"/>
    <add key="AuthorizedAmount" value="250000"/>
    <add key="UnauthorizedAmount" value="150000"/>
    <add key="NdCOR" value="S03|DH04"/>
    <add key="NdCORName" value="COR"/>
    <add key="NdCORF" value="19981204026"/>
    <add key="NdCORN" value="20170610001"/>
    <add key="BPM_WEB_API_URL" value="https://testingautosmartwebapi.sodexo-cn.com"/>
    <add key="BPM_WEB_URL" value="https://testingautosmart.sodexo-cn.com"/>
  </appSettings>
</configuration>